@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.blue-top {
  width: 100%;
  background-color: #e4edf0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.blue-top .header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 40px;
  font-weight: bold;
}
.blue-top .header .logo {
  margin-left: 5px;
  cursor: pointer;
}
.blue-top .header .logo img {
  width: 41px;
}
.blue-top .header .right-panel {
  display: flex;
  align-items: center;
  gap: 70px;
}
.blue-top .header .right-panel p {
  cursor: pointer;
  font-size: 18px;
}
.blue-top .header .right-panel > div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.blue-top .header .right-panel > div svg {
  width: 25px;
  height: 25px;
}
.blue-top .header .right-panel .missing {
  background-color: #c69457;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}
.blue-top .header .right-panel .hamburger {
  width: 40px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: center;
}
.blue-top .header .right-panel .hamburger > div {
  width: 100%;
  height: 3px;
  background-color: #121212;
}
.blue-top .header-info {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 150px;
}
.blue-top .header-info .header-info-left-panel {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 120px;
}
.blue-top .header-info .header-info-left-panel h1 {
  font-size: 55px;
  margin-bottom: 30px;
}
.blue-top .header-info .header-info-left-panel p {
  font-size: 18px;
  width: 900px;
  line-height: 1.6;
}
.blue-top .header-info .header-info-left-panel .header-info-buttons {
  display: flex;
  gap: 25px;
  margin-top: 55px;
}
.blue-top .header-info .header-info-left-panel .header-info-buttons > div {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.blue-top .header-info .header-info-left-panel .header-info-buttons > div:hover {
  background-color: black;
  color: #ffffff;
}
.blue-top .header-info .header-info-left-panel .header-info-buttons > div p {
  width: auto;
}
.blue-top .header-info .header-info-right-panel {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0;
}
.blue-top .header-info .header-info-right-panel .bottom-image {
  grid-area: 1/1/5/5;
}
.blue-top .header-info .header-info-right-panel .bottom-image img {
  width: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blue-top .header-info .header-info-right-panel .top-image {
  grid-area: 3/2/5/10;
  border-radius: 25px;
  outline: 15px solid #e4edf0;
}
.blue-top .header-info .header-info-right-panel .top-image img {
  width: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.salmon-mid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #e4edf0 20.5%, #f9f3ec 20.5% 79.5%);
}
.salmon-mid .about {
  width: 90%;
  display: flex;
  background-color: #ffffff;
  border-radius: 25px;
  margin-bottom: 7%;
}
.salmon-mid .about .about-left-panel {
  width: 60%;
  padding: 25px;
}
.salmon-mid .about .about-left-panel h1 {
  font-size: 55px;
  margin-bottom: 30px;
}
.salmon-mid .about .about-left-panel p {
  font-size: 18px;
  line-height: 1.6;
}
.salmon-mid .about .about-left-panel p:first-of-type {
  margin-bottom: 30px;
}
.salmon-mid .about .about-left-panel .about-button-wrapper {
  width: 100%;
  display: flex;
}
.salmon-mid .about .about-left-panel .about-button-wrapper .about-button {
  display: flex;
  justify-content: center;
  align-self: start;
  padding: 20px;
  margin-top: 100px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #c69457;
  border: 2px solid #c69457;
  width: 200px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.salmon-mid .about .about-left-panel .about-button-wrapper .about-button p {
  margin-bottom: 0;
}
.salmon-mid .about .about-left-panel .about-button-wrapper .about-button:hover {
  background-color: transparent;
  color: #c69457;
}
.salmon-mid .about .about-right-panel {
  width: 50%;
}
.salmon-mid .about .about-right-panel img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.salmon-mid .adopt {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  margin-bottom: 10%;
}
.salmon-mid .adopt .adopt-header {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #444444;
  margin-bottom: 40px;
}
.salmon-mid .adopt .adopt-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.salmon-mid .adopt .adopt-content .adoption-proposal {
  width: 22%;
  min-width: 350px;
}
.salmon-mid .adopt .adopt-content .adoption-proposal .adoption-proposal-header {
  width: 100%;
}
.salmon-mid .adopt .adopt-content .adoption-proposal .adoption-proposal-header img {
  width: 100%;
  display: block;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.salmon-mid .adopt .adopt-content .adoption-proposal .adoption-proposal-footer {
  background-color: #ffffff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 25px;
}
.salmon-mid .adopt .adopt-content .adoption-proposal .adoption-proposal-footer h1 {
  color: #444444;
  margin-bottom: 15px;
}
.salmon-mid .adopt .adopt-content .adoption-proposal .adoption-proposal-footer p {
  color: #b8a794;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.salmon-mid .adopt .adopt-footer {
  display: flex;
  justify-content: center;
}
.salmon-mid .adopt .adopt-footer .adopt-footer-button {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #c69457;
  border: 2px solid #c69457;
  width: 200px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.salmon-mid .adopt .adopt-footer .adopt-footer-button p {
  margin-bottom: 0;
}
.salmon-mid .adopt .adopt-footer .adopt-footer-button:hover {
  background-color: transparent;
  color: #c69457;
}

.blue-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #f9f3ec 20.5%, #e4edf0 20.5% 79.5%);
}
.blue-bottom .food-donation {
  width: 90%;
  display: flex;
  background-color: #ffffff;
  border-radius: 25px;
  margin-bottom: 9%;
}
.blue-bottom .food-donation .food-donation-left-panel {
  width: 50%;
}
.blue-bottom .food-donation .food-donation-left-panel img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blue-bottom .food-donation .food-donation-right-panel {
  width: 60%;
  padding: 25px;
}
.blue-bottom .food-donation .food-donation-right-panel h1 {
  font-size: 55px;
  margin-bottom: 30px;
}
.blue-bottom .food-donation .food-donation-right-panel p {
  font-size: 18px;
  line-height: 1.6;
}
.blue-bottom .food-donation .food-donation-right-panel p:first-of-type {
  margin-bottom: 30px;
}
.blue-bottom .food-donation .food-donation-right-panel .food-donation-button-wrapper {
  width: 100%;
  display: flex;
}
.blue-bottom .food-donation .food-donation-right-panel .food-donation-button-wrapper .food-donation-button {
  display: flex;
  justify-content: center;
  align-self: start;
  padding: 20px;
  margin-top: 100px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #c69457;
  border: 2px solid #c69457;
  width: 200px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.blue-bottom .food-donation .food-donation-right-panel .food-donation-button-wrapper .food-donation-button p {
  margin-bottom: 0;
}
.blue-bottom .food-donation .food-donation-right-panel .food-donation-button-wrapper .food-donation-button:hover {
  background-color: transparent;
  color: #c69457;
}
.blue-bottom .voluntary-organisation {
  width: 90%;
  display: flex;
  background-color: #ffffff;
  border-radius: 25px;
  margin-bottom: 7%;
}
.blue-bottom .voluntary-organisation .voluntary-organisation-left-panel {
  width: 60%;
  padding: 25px;
}
.blue-bottom .voluntary-organisation .voluntary-organisation-left-panel h1 {
  font-size: 55px;
  margin-bottom: 30px;
}
.blue-bottom .voluntary-organisation .voluntary-organisation-left-panel p {
  font-size: 18px;
  line-height: 1.6;
}
.blue-bottom .voluntary-organisation .voluntary-organisation-left-panel p:first-of-type {
  margin-bottom: 30px;
}
.blue-bottom .voluntary-organisation .voluntary-organisation-left-panel .voluntary-organisation-button-wrapper {
  width: 100%;
  display: flex;
}
.blue-bottom .voluntary-organisation .voluntary-organisation-left-panel .voluntary-organisation-button-wrapper .voluntary-organisation-button {
  display: flex;
  justify-content: center;
  align-self: start;
  padding: 20px;
  margin-top: 100px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #c69457;
  border: 2px solid #c69457;
  width: 200px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.blue-bottom .voluntary-organisation .voluntary-organisation-left-panel .voluntary-organisation-button-wrapper .voluntary-organisation-button p {
  margin-bottom: 0;
}
.blue-bottom .voluntary-organisation .voluntary-organisation-left-panel .voluntary-organisation-button-wrapper .voluntary-organisation-button:hover {
  background-color: transparent;
  color: #c69457;
}
.blue-bottom .voluntary-organisation .voluntary-organisation-right-panel {
  width: 50%;
}
.blue-bottom .voluntary-organisation .voluntary-organisation-right-panel img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.white-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffffff;
}
.white-bottom .footer {
  width: 90%;
  display: flex;
  margin-bottom: 50px;
}
.white-bottom .footer .footer-left-panel {
  width: 60%;
  padding: 30px 25px 50px;
  display: flex;
  flex-direction: column;
}
.white-bottom .footer .footer-left-panel h1 {
  font-size: 55px;
  margin-bottom: 30px;
}
.white-bottom .footer .footer-left-panel input[type=text] {
  width: 50%;
  border: 2px solid #e1e1e1;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}
.white-bottom .footer .footer-left-panel input[type=text]:active, .white-bottom .footer .footer-left-panel input[type=text]:focus {
  outline: none;
  box-shadow: none;
}
.white-bottom .footer .footer-left-panel input[type=text]:hover {
  border: 2px solid #e1e1e1;
}
.white-bottom .footer .footer-left-panel input[type=text]::-moz-placeholder {
  color: black;
  font-size: 16px;
  position: absolute;
}
.white-bottom .footer .footer-left-panel input[type=text]:-ms-input-placeholder {
  color: black;
  font-size: 16px;
  position: absolute;
}
.white-bottom .footer .footer-left-panel input[type=text]::placeholder {
  color: black;
  font-size: 16px;
  position: absolute;
}
.white-bottom .footer .footer-left-panel textarea {
  width: 50%;
  border: 2px solid #e1e1e1;
  border-radius: 7px;
  padding: 10px 10px 90px;
  margin: 10px 0;
  font-size: 16px;
  resize: none;
}
.white-bottom .footer .footer-left-panel textarea:active, .white-bottom .footer .footer-left-panel textarea:focus {
  outline: none;
  box-shadow: none;
}
.white-bottom .footer .footer-left-panel textarea:hover {
  border: 2px solid #e1e1e1;
}
.white-bottom .footer .footer-left-panel textarea::-moz-placeholder {
  color: black;
  font-size: 16px;
  position: absolute;
}
.white-bottom .footer .footer-left-panel textarea:-ms-input-placeholder {
  color: black;
  font-size: 16px;
  position: absolute;
}
.white-bottom .footer .footer-left-panel textarea::placeholder {
  color: black;
  font-size: 16px;
  position: absolute;
}
.white-bottom .footer .footer-left-panel .footer-check {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.white-bottom .footer .footer-left-panel .footer-check:first-of-type {
  margin: 30px 0;
}
.white-bottom .footer .footer-left-panel .footer-check input[type=radio] {
  margin-top: 5px;
}
.white-bottom .footer .footer-left-panel .footer-check p {
  width: 50%;
  line-height: 1.6;
}
.white-bottom .footer .footer-left-panel .footer-button {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 20px;
  margin-top: 100px;
  margin-right: 45px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #c69457;
  border: 2px solid #c69457;
  width: 100px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.white-bottom .footer .footer-left-panel .footer-button p {
  margin-bottom: 0;
}
.white-bottom .footer .footer-left-panel .footer-button:hover {
  background-color: transparent;
  color: #c69457;
}
.white-bottom .footer .footer-right-panel {
  width: 50%;
}
.white-bottom .footer .footer-right-panel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 2100px) {
  .blue-top .header-info .header-info-left-panel p {
    width: auto;
  }
}
@media (max-width: 1660px) {
  .salmon-mid .adopt .adopt-content {
    gap: 100px;
  }
  .salmon-mid .adopt .adopt-content .adoption-proposal {
    width: 44%;
  }
}
@media (max-width: 1400px) {
  .blue-top .header .right-panel p {
    display: none;
  }
  .blue-top .header .right-panel div {
    display: none;
  }
  .blue-top .header .right-panel .hamburger {
    display: flex;
  }
  .blue-top .header .right-panel .hamburger > div {
    display: block;
  }
  .blue-top .header-info {
    flex-direction: column;
    gap: 100px;
    text-align: left;
  }
  .blue-top .header-info .header-info-left-panel {
    width: 100%;
    padding-right: 0;
  }
  .blue-top .header-info .header-info-left-panel .header-info-buttons {
    justify-content: center;
  }
  .blue-top .header-info .header-info-right-panel {
    width: 100%;
  }
  .salmon-mid .about {
    flex-direction: column-reverse;
  }
  .salmon-mid .about .about-left-panel {
    width: 100%;
  }
  .salmon-mid .about .about-right-panel {
    width: 100%;
  }
  .salmon-mid .about .about-right-panel img {
    border-radius: 25px;
  }
  .blue-bottom .food-donation {
    flex-direction: column;
  }
  .blue-bottom .food-donation .food-donation-left-panel {
    width: 100%;
  }
  .blue-bottom .food-donation .food-donation-left-panel img {
    border-radius: 25px;
  }
  .blue-bottom .food-donation .food-donation-right-panel {
    width: 100%;
  }
  .blue-bottom .voluntary-organisation {
    flex-direction: column-reverse;
  }
  .blue-bottom .voluntary-organisation .voluntary-organisation-left-panel {
    width: 100%;
  }
  .blue-bottom .voluntary-organisation .voluntary-organisation-right-panel {
    width: 100%;
  }
  .blue-bottom .voluntary-organisation .voluntary-organisation-right-panel img {
    border-radius: 25px;
  }
  .white-bottom .footer {
    flex-direction: column;
  }
  .white-bottom .footer .footer-left-panel {
    width: 100%;
    align-items: center;
  }
  .white-bottom .footer .footer-left-panel .footer-check {
    justify-content: center;
  }
  .white-bottom .footer .footer-left-panel .footer-button {
    margin-right: 0;
  }
  .white-bottom .footer .footer-right-panel {
    width: 100%;
  }
  .white-bottom .footer .footer-right-panel img {
    position: absolute;
    left: 0;
  }
}
@media (max-width: 930px) {
  .salmon-mid .adopt .adopt-content {
    justify-content: center;
  }
  .salmon-mid .adopt .adopt-content .adoption-proposal {
    width: 60%;
  }
}
@media (max-width: 550px) {
  .blue-top .header-info .header-info-left-panel h1 {
    font-size: 45px;
  }
  .blue-top .header-info .header-info-left-panel p {
    line-height: 2;
  }
  .blue-top .header-info .header-info-left-panel .header-info-buttons {
    text-align: center;
  }
  .blue-top .header-info .header-info-left-panel .header-info-buttons p {
    font-size: 15px;
  }
  .blue-top .header-info .header-info-right-panel .top-image {
    outline: 7px solid #e4edf0;
  }
  .salmon-mid .about {
    margin-bottom: 20%;
  }
  .salmon-mid .about .about-left-panel h1 {
    font-size: 45px;
  }
  .salmon-mid .about .about-left-panel p {
    line-height: 2;
  }
  .salmon-mid .about .about-left-panel .about-button-wrapper {
    justify-content: flex-end;
  }
  .salmon-mid .adopt {
    margin-bottom: 25%;
  }
  .salmon-mid .adopt .adopt-header h1 {
    font-size: 45px;
  }
  .salmon-mid .adopt .adopt-content .adoption-proposal {
    width: 100%;
    min-width: 320px;
  }
  .blue-bottom .food-donation {
    margin-bottom: 25%;
  }
  .blue-bottom .food-donation .food-donation-right-panel h1 {
    font-size: 45px;
  }
  .blue-bottom .food-donation .food-donation-right-panel p {
    line-height: 2;
  }
  .blue-bottom .food-donation .food-donation-right-panel .food-donation-button-wrapper {
    justify-content: flex-end;
  }
  .blue-bottom .voluntary-organisation {
    margin-bottom: 20%;
  }
  .blue-bottom .voluntary-organisation .voluntary-organisation-left-panel h1 {
    font-size: 45px;
  }
  .blue-bottom .voluntary-organisation .voluntary-organisation-left-panel p {
    line-height: 2;
  }
  .blue-bottom .voluntary-organisation .voluntary-organisation-left-panel .voluntary-organisation-button-wrapper {
    justify-content: flex-end;
  }
  .white-bottom .footer .footer-left-panel {
    align-items: flex-start;
  }
  .white-bottom .footer .footer-left-panel h1 {
    font-size: 45px;
  }
  .white-bottom .footer .footer-left-panel input[type=text] {
    width: 100%;
  }
  .white-bottom .footer .footer-left-panel textarea {
    width: 100%;
  }
  .white-bottom .footer .footer-left-panel .footer-check {
    justify-content: flex-start;
  }
  .white-bottom .footer .footer-left-panel .footer-check p {
    width: 100%;
    line-height: 2;
  }
}/*# sourceMappingURL=style.css.map */