// GOOGLE FONTS //



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



// GLOBAL STYLES //



*,
*::before,
*::after{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 20px;
  }
  
::-webkit-scrollbar-track{
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb{
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #e4e4e4;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.reveal{
    position: relative;
    opacity: 0;
}
  
.reveal.active {
    opacity: 1;
}

.active.fade-in {
    animation: fade-in 1s ease-in;
}

@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
}



// HEADER //


.blue-top{
    width: 100%;
    background-color: #e4edf0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .header{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        border-radius: 10px;
        margin-top: 20px;
        padding: 40px;
        font-weight: bold;

        .logo{
            margin-left: 5px;
            cursor: pointer;

            img{
                width: 41px;
            }
        }

        .right-panel{
            display: flex;
            align-items: center;
            gap: 70px;

            p{
                cursor: pointer;
                font-size: 18px;
            }

            & > div{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;

                svg{
                    width: 25px;
                    height: 25px;
                }
            }

            .missing{
                background-color: #c69457;
                color: #ffffff;
                padding: 10px;
                border-radius: 5px;
            }

            .hamburger{
                width: 40px;
                height: 40px;
                display: none;
                flex-direction: column;
                justify-content: center;

                & > div{
                    width: 100%;
                    height: 3px;
                    background-color: #121212;
                }
            }
        }  
    }

    .header-info{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        padding-bottom: 150px;

        .header-info-left-panel{
            display: flex;
            flex-direction: column;
            width: 50%;
            padding-right: 120px;

            h1{
                font-size: 55px;
                margin-bottom: 30px;
            }

            p{
                font-size: 18px;
                width: 900px;
                line-height: 1.6;
            }

            .header-info-buttons{
                display: flex;
                gap: 25px;
                margin-top: 55px;

                & > div{
                    background-color: #ffffff;
                    padding: 20px;
                    border-radius: 30px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: 0.3s;
                    transition-timing-function: ease-in-out;

                    &:hover{
                        background-color: black;
                        color: #ffffff;
                    }

                    p{
                        width: auto;
                    }
                }
            }
        }

        .header-info-right-panel{
            width: 50%;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 0;

            .bottom-image{
                grid-area: 1 / 1 / 5 / 5;

                img{
                    width: 100%;
                    border-radius: 25px;
                    object-fit: cover;
                }
            }

            .top-image{
                grid-area: 3 / 2 / 5 / 10;
                border-radius: 25px;
                outline: 15px solid #e4edf0;

                img{
                    width: 100%;
                    border-radius: 25px;
                    object-fit: cover;
                }
            }
        }
    }
}



// CONTENT //



.salmon-mid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom,#e4edf0 20.5%, #f9f3ec 20.5% 79.5%);

    .about{
        width: 90%;
        display: flex;
        background-color: #ffffff;
        border-radius: 25px;
        margin-bottom: 7%;

        .about-left-panel{
            width: 60%;
            padding: 25px;
            
            h1{
                font-size: 55px;
                margin-bottom: 30px;
            }

            p{
                font-size: 18px;
                line-height: 1.6;

                &:first-of-type{
                    margin-bottom: 30px;
                }
            }

            .about-button{
                display: flex;
                justify-content: center;
                align-self: start;
                padding: 20px;
                margin-top: 100px;
                border-radius: 30px;
                font-weight: bold;
                background-color: #c69457;
                border: 2px solid #c69457;
                width: 200px;
                cursor: pointer;
                color: #ffffff;
                transition: 0.3s;
                transition-timing-function: ease-in-out;

                p{
                    margin-bottom: 0;
                }

                &:hover{
                    background-color: transparent;
                    color: #c69457;
                }
            }
        }

        .about-right-panel{
            width: 50%;

            img{
                width: 100%;
                height: 100%;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                object-fit: cover;
                display: block;
            }
        }
    }

    .adopt{
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: center;
        margin-bottom: 10%;

        .adopt-header{
            display: flex;
            justify-content: center;
            font-size: 25px;
            color: #444444;
            margin-bottom: 40px;
        }

        .adopt-content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .adoption-proposal{
                width: 22%;
                min-width: 350px;

                .adoption-proposal-header{
                    width: 100%;

                    img{
                        width: 100%;
                        display: block;
                        border-top-left-radius: 25px;
                        border-top-right-radius: 25px;
                        object-fit: cover;
                    }
                }

                .adoption-proposal-footer{
                    background-color: #ffffff;
                    border-bottom-left-radius: 25px;
                    border-bottom-right-radius: 25px;
                    padding: 25px;

                    h1{
                        color: #444444;
                        margin-bottom: 15px;
                    }

                    p{
                        color: #b8a794;
                        font-size: 18px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }
            }
        }

        .adopt-footer{
            display: flex;
            justify-content: center;

            .adopt-footer-button{
                display: flex;
                justify-content: center;
                padding: 20px;
                margin-top: 50px;
                border-radius: 30px;
                font-weight: bold;
                background-color: #c69457;
                border: 2px solid #c69457;
                width: 200px;
                cursor: pointer;
                color: #ffffff;
                transition: 0.3s;
                transition-timing-function: ease-in-out;

                p{
                    margin-bottom: 0;
                }

                &:hover{
                    background-color: transparent;
                    color: #c69457;
                }
            }
        }
    }
}

.blue-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom,#f9f3ec 20.5%, #e4edf0 20.5% 79.5%);

    .food-donation{
        width: 90%;
        display: flex;
        background-color: #ffffff;
        border-radius: 25px;
        margin-bottom: 9%;

        .food-donation-left-panel{
            width: 50%;

            img{
                width: 100%;
                height: 100%;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                object-fit: cover;
            }
        }

        .food-donation-right-panel{
            width: 60%;
            padding: 25px;
            
            h1{
                font-size: 55px;
                margin-bottom: 30px;
            }

            p{
                font-size: 18px;
                line-height: 1.6;

                &:first-of-type{
                    margin-bottom: 30px;
                }
            }

            .food-donation-button{
                display: flex;
                justify-content: center;
                align-self: start;
                padding: 20px;
                margin-top: 100px;
                border-radius: 30px;
                font-weight: bold;
                background-color: #c69457;
                border: 2px solid #c69457;
                width: 200px;
                cursor: pointer;
                color: #ffffff;
                transition: 0.3s;
                transition-timing-function: ease-in-out;

                p{
                    margin-bottom: 0;
                }

                &:hover{
                    background-color: transparent;
                    color: #c69457;
                }
            }
        }
    }

    .voluntary-organisation{
        width: 90%;
        display: flex;
        background-color: #ffffff;
        border-radius: 25px;
        margin-bottom: 7%;

        .voluntary-organisation-left-panel{
            width: 60%;
            padding: 25px;
            
            h1{
                font-size: 55px;
                margin-bottom: 30px;
            }

            p{
                font-size: 18px;
                line-height: 1.6;

                &:first-of-type{
                    margin-bottom: 30px;
                }
            }

            .voluntary-organisation-button{
                display: flex;
                justify-content: center;
                align-self: start;
                padding: 20px;
                margin-top: 100px;
                border-radius: 30px;
                font-weight: bold;
                background-color: #c69457;
                border: 2px solid #c69457;
                width: 200px;
                cursor: pointer;
                color: #ffffff;
                transition: 0.3s;
                transition-timing-function: ease-in-out;

                p{
                    margin-bottom: 0;
                }

                &:hover{
                    background-color: transparent;
                    color: #c69457;
                }
            }
        }

        .voluntary-organisation-right-panel{
            width: 50%;

            img{
                width: 100%;
                height: 100%;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                object-fit: cover;
            }
        }
    }
}

.white-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffffff;

    .footer{
        width: 90%;
        display: flex;
        margin-bottom: 50px;

        .footer-left-panel{
            width: 60%;
            padding: 30px 25px 50px;
            display: flex;
            flex-direction: column;
            
            h1{
                font-size: 55px;
                margin-bottom: 30px;
            }

            input[type=text]{
                width: 50%;
                border: 2px solid #e1e1e1;
                border-radius: 7px;
                padding: 10px;
                margin: 10px 0;
                font-size: 16px;

                &:active,
                &:focus{
                    outline: none;
                    box-shadow: none;
                }

                &:hover{
                    border: 2px solid #e1e1e1;
                }

                &::placeholder{
                    color: black;
                    font-size: 16px;
                    position: absolute;
                }
            }

            textarea{
                width: 50%;
                border: 2px solid #e1e1e1;
                border-radius: 7px;
                padding: 10px 10px 90px;
                margin: 10px 0;
                font-size: 16px;
                resize: none;

                &:active,
                &:focus{
                    outline: none;
                    box-shadow: none;
                }

                &:hover{
                    border: 2px solid #e1e1e1;
                }

                &::placeholder{
                    color: black;
                    font-size: 16px;
                    position: absolute;
                }
            }

            .footer-check{
                display: flex;
                align-items: flex-start;
                gap: 20px;

                &:first-of-type{
                    margin: 30px 0;
                }

                input[type=radio]{
                    margin-top: 5px;
                }

                p{
                    width: 50%;
                    line-height: 1.6;
                }
            }

            .footer-button{
                display: flex;
                justify-content: center;
                align-self: center;
                padding: 20px;
                margin-top: 100px;
                margin-right: 45px;
                border-radius: 30px;
                font-weight: bold;
                background-color: #c69457;
                border: 2px solid #c69457;
                width: 100px;
                cursor: pointer;
                color: #ffffff;
                transition: 0.3s;
                transition-timing-function: ease-in-out;

                p{
                    margin-bottom: 0;
                }

                &:hover{
                    background-color: transparent;
                    color: #c69457;
                }
            }
        }

        .footer-right-panel{
            width: 50%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}



// MEDIA //



@media (max-width: 2100px){
    .blue-top{
        .header-info{
            .header-info-left-panel{
                p{
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 1660px){
    .salmon-mid{
        .adopt{
            .adopt-content{
                gap: 100px;

                .adoption-proposal{
                    width: 44%;
                }
            }
        }
    }
}

@media (max-width: 1400px){
    .blue-top{
        .header{
            .right-panel{
                p{
                    display: none;
                }

                div{
                    display: none;
                }

                .hamburger{
                    display: flex;

                    & > div{
                        display: block;
                    }
                }
            }
        }

        .header-info{
            flex-direction: column;
            gap: 100px;
            text-align: left;

            .header-info-left-panel{
                width: 100%;
                padding-right: 0;

                .header-info-buttons{
                    justify-content: center;
                }
            }

            .header-info-right-panel{
                width: 100%;
            }
        }
    }
    
    .salmon-mid{
        .about{
            flex-direction: column-reverse;
            
            .about-left-panel{
                width: 100%;
            }

            .about-right-panel{
                width: 100%;
                
                img{
                    border-radius: 25px;
                }
            }
        }
    }

    .blue-bottom{
        .food-donation{
            flex-direction: column;

            .food-donation-left-panel{
                width: 100%;

                img{
                    border-radius: 25px;
                }
            }

            .food-donation-right-panel{
                width: 100%;
            }
        }

        .voluntary-organisation{
            flex-direction: column-reverse;

            .voluntary-organisation-left-panel{
                width: 100%;
            }

            .voluntary-organisation-right-panel{
                width: 100%;

                img{
                    border-radius: 25px;
                }
            }
        }
    }

    .white-bottom{
        .footer{
            flex-direction: column;

            .footer-left-panel{
                width: 100%;
                align-items: center;

                .footer-check{
                    justify-content: center;
                }

                .footer-button{
                    margin-right: 0;
                }
            }

            .footer-right-panel{
                width: 100%;

                img{
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}

@media (max-width: 930px){
    .salmon-mid{
        .adopt{
            .adopt-content{
                justify-content: center;

                .adoption-proposal{
                    width: 60%;
                }
            }
        }
    }
}

@media (max-width: 550px){
    .blue-top{
        .header-info{
            .header-info-left-panel{
                h1{
                    font-size: 45px;
                }

                p{
                    line-height: 2;    
                }

                .header-info-buttons{
                    text-align: center;
                    flex-direction: column;
                }
            }

            .header-info-right-panel{
                .top-image{
                    outline: 7px solid #e4edf0;
                }
            }
        }
    }

    .salmon-mid{
        .about{
            margin-bottom: 20%;

            .about-left-panel{
                h1{
                    font-size: 45px;
                    margin-top: 10px;
                }

                p{
                    line-height: 2;
                }

                .about-button{
                    width: 100%;
                }
            }
        }

        .adopt{
            margin-bottom: 25%;

            .adopt-header{
                h1{
                    font-size: 45px;
                }
            }

            .adopt-content{
                .adoption-proposal{
                    width: 100%;
                    min-width: 320px;
                }
            }
        }
    }

    .blue-bottom{
        .food-donation{
            margin-bottom: 25%;

            .food-donation-right-panel{
                h1{
                    font-size: 45px;
                    margin-top: 10px;
                }

                p{
                    line-height: 2;
                }

                .food-donation-button{
                    width: 100%;
                }
            }
        }

        .voluntary-organisation{
            margin-bottom: 20%;
            
            .voluntary-organisation-left-panel{
                h1{
                    font-size: 45px;
                    margin-top: 10px;
                }

                p{
                    line-height: 2;
                }

                .voluntary-organisation-button{
                    width: 100%;
                }
            }
        }
    }

    .white-bottom{
        .footer{
            .footer-left-panel{
                align-items: flex-start;

                h1{
                    font-size: 45px;
                }

                input[type=text]{
                    width: 100%;
                }

                textarea{
                    width: 100%;
                }

                .footer-check{
                    justify-content: flex-start;

                    p{
                        width: 100%;
                        line-height: 2;
                    }
                }
            }
        }
    }
}