#white-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffffff;

    .footer{
        width: 90%;
        display: flex;
        margin-bottom: 50px;

        .footer-left-panel{
            width: 60%;
            padding: 30px 25px 50px;
            display: flex;
            flex-direction: column;
            
            h1{
                font-size: 55px;
                margin-bottom: 30px;
            }

            input[type=text]{
                width: 50%;
                border: 2px solid #e1e1e1;
                border-radius: 7px;
                padding: 10px;
                margin: 10px 0;
                font-size: 16px;

                &:active,
                &:focus{
                    outline: none;
                    box-shadow: none;
                }

                &:hover{
                    border: 2px solid #e1e1e1;
                }

                &::placeholder{
                    color: black;
                    font-size: 16px;
                }
            }

            textarea{
                width: 50%;
                border: 2px solid #e1e1e1;
                border-radius: 7px;
                padding: 10px 10px 90px;
                margin: 10px 0;
                font-size: 16px;
                resize: none;

                &:active,
                &:focus{
                    outline: none;
                    box-shadow: none;
                }

                &:hover{
                    border: 2px solid #e1e1e1;
                }

                &::placeholder{
                    color: black;
                    font-size: 16px;
                }
            }

            .footer-check{
                display: flex;
                align-items: flex-start;
                gap: 20px;

                &:first-of-type{
                    margin: 30px 0;
                }

                input[type=radio]{
                    margin-top: 5px;
                }

                p{
                    width: 50%;
                    line-height: 1.6;
                }
            }

            .footer-button{
                display: flex;
                justify-content: center;
                align-self: center;
                padding: 20px;
                margin-top: 100px;
                margin-right: 45px;
                border-radius: 30px;
                font-weight: bold;
                background-color: #c69457;
                border: 2px solid #c69457;
                width: 100px;
                cursor: pointer;
                color: #ffffff;
                transition: 0.3s;
                transition-timing-function: ease-in-out;

                p{
                    margin-bottom: 0;
                }

                &:hover{
                    background-color: transparent;
                    color: #c69457;
                }
            }
        }

        .footer-right-panel{
            width: 50%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 1400px){
    #white-bottom{
        .footer{
            flex-direction: column;

            .footer-left-panel{
                width: 100%;
                align-items: center;

                .footer-check{
                    justify-content: center;
                }

                .footer-button{
                    margin-right: 0;
                }
            }

            .footer-right-panel{
                width: 100%;

                img{
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}

@media (max-width: 550px){
    #white-bottom{
        .footer{
            .footer-left-panel{
                align-items: flex-start;

                h1{
                    font-size: 45px;
                }

                input[type=text]{
                    width: 100%;
                }

                textarea{
                    width: 100%;
                }

                .footer-check{
                    justify-content: flex-start;

                    p{
                        width: 100%;
                        line-height: 2;
                    }
                }
            }
        }
    }
}